################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# and is now commandeered 
################################################################################

/Temp
/obj/Debug
/.vs
/Library
/obj
/*.csproj
*.suo
/*.sln
*.user
*.unityproj
Assembly-CSharp.csproj
