################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/obj/Debug
/.vs
/Library
/obj
/*.csproj
*.suo
/*.sln
*.user
*.unityproj