################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/obj/Debug
/.vs/Haunt_101/v15
